#rateStatus{float:left; clear:both; width:100%; height:20px;}
#rateMe{float:left; clear:both; width:100%; height:20px; padding:0px; margin:0px;}
#rateMe li{float:left;list-style:none;}
#rateMe li a:hover,
#rateMe .on{background:url(images/star_on.png) no-repeat;}
#rateMe a{float:left;background:url(images/star_off.png) no-repeat;width:20px; height:25px;}
#ratingSaved{display:none;}
.saved{color:red; }
